.quickLink {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.quickLink img {
  width: 100%;
  height: auto;
}
.quickLink a {
  text-decoration: none;
  color: black;
}
.quickLink a:hover {
  text-decoration: underline;
  color: var(--lego-blue);
}
.quickLink h6 {
  padding: 0.5rem 0;
  font-size: 0.75rem;
}
@media only screen and (min-width: 426px) {
  .quickLink img {
    margin-bottom: 1rem;
  }
  .quickLink h6 {
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  .quickLink:first-child {
    margin-left: 0;
  }
  .quickLink:last-child {
    margin-right: 0;
  }
}
