.uiCard {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.uiCard--header {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.uiCard--header h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.uiCard--header h3 span {
  color: var(--green-500);
}

.uiCard--header p {
  margin-top: 1rem;
  color: var(--blue-grey-500);
}

.uiCard--section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.uiCard[data-color=indigo] .uiCard--section {
  background-color: var(--lego-indigo);
  border-color: var(--lego-indigo);
}

.uiCard[data-color=blue] .uiCard--section {
  background-color: var(--lego-blue);
  border-color: var(--lego-blue);
}

.uiCard[data-color=yellow] .uiCard--section {
  background-color: var(--lego-yellow);
  border-color: var(--lego-yellow);
}

.uiCardItem {
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 33.33%;
}

.uiCard--footer {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.uiCard--footer h6 {
  font-size: 0.875rem;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 1rem;
}

.uiCard--footer section {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-grey-50);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.uiCard--footer section p {
  color: var(--blue-grey-500);
  font-size: 0.75rem;
  padding: 0.5rem;
  font-family: monospace;
  line-height: 1.4;
}