$aside-width-size: 25%;
$section-1-color: var(--pink-500);
$section-2-color: var(--blue-500);
$section-3-color: var(--green-500);
$section-4-color: var(--purple-500);
$section-5-color: var(--orange-500);

.designSystemLibrary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
}

.designSystemLibrary--aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $aside-width-size;
  background-color: white;
  padding: 3rem;
  padding-top: 2rem;
  overflow-y: auto;

  header {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    section {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    svg {
      max-width: 5rem;
    }

    h5 {
      color: black;
      font-size: 1.5rem;
      line-height: 1.4;
      font-weight: bold;
      margin-top: 3rem;
    }

    h6 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-left: 2rem;
    }
  } // Header

  ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: monospace;

    & > li {
      padding: 1rem 0;
    }

    & > li:nth-child(1) > a,
    & > li:nth-child(1) ol li {
      color: $section-1-color;
    }

    & > li:nth-child(2) > a,
    & > li:nth-child(2) ol li {
      color: $section-2-color;
    }

    & > li:nth-child(3) > a,
    & > li:nth-child(3) ol li {
      color: $section-3-color;
    }

    & > li:nth-child(4) > a,
    & > li:nth-child(4) ol li {
      color: $section-4-color;
    }

    & > li:nth-child(5) > a,
    & > li:nth-child(5) ol li {
      color: $section-5-color;
    }

    & > li > a {
      font-size: 1rem;
      color: black;
      font-weight: bold;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  } // Ul

  ol {
    display: flex;
    flex-direction: column;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;

    li:first-child {
      padding-top: 1rem;
    }

    li {
      font-size: 0.875rem;
      padding: 0.5rem 0;
      font-weight: bold;
    }

    li a {
      color: var(--blue-grey-500);
      color: black;
      font-weight: normal;
    }
  }
} // Design System aside

.designSystemLibrary--main {
  display: flex;
  flex-direction: column;
  width: calc(100% - $aside-width-size);
}

.designSystemLibrary--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid black;
  padding: 3rem 0;
  position: relative;
}

.designSystemLibrary--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 940px;
  padding: 0 4rem;
}

.designSystemLibrary--header {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    font-family: monospace;
    font-size: 1rem;
    color: var(--blue-grey-900);
    margin-top: 2rem;
  }
}

.section--colors {
  border-color: $section-1-color;
  .designSystemLibrary--header h1,
  .uiCard--footer h6 {
    color: $section-1-color;
  }
}

.section--buttons {
  border-color: $section-2-color;
  .designSystemLibrary--header h1,
  .uiCard--footer h6 {
    color: $section-2-color;
  }
}

.section--cards {
  border-color: $section-3-color;
  .designSystemLibrary--header h1,
  .uiCard--footer h6 {
    color: $section-3-color;
  }
}

.section--banners {
  border-color: $section-4-color;
  border-color: black;
  .designSystemLibrary--header h1,
  .uiCard--footer h6 {
    color: $section-4-color;
  }

  .banners {
    width: 100%;
  }
}
