.navBar {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
}

.navBar-row1 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 3rem;
  padding: 0 0.5rem;
  background-color: var(--grey-100);
}

.navBar-row1-col1,
.navBar-row1-col3 {
  display: none;
  height: 100%;
}
.navBar-row1-col1 li,
.navBar-row1-col3 li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}

.navBar-row1-col2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.navBar-row1-col2 li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}
.navBar-row1-col2 li:nth-child(2) {
  font-size: 0.75rem;
}
.navBar-row1-col2 li:first-child svg {
  transform: rotate(-180deg);
}
.navBar-row1-col2 svg {
  width: 0.625rem;
  height: auto;
}
.navBar-row1-col2 p {
  text-align: center;
  line-height: 1.4;
}
.navBar-row1-col2 p a {
  text-decoration: none;
  color: var(--lego-blue);
}

.navBar-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  padding: 0 0.5rem;
  background-color: white;
  border-bottom: 2px solid var(--lego-yellow);
}

.navBar .navBarLogo svg {
  width: 2.5rem;
  height: auto;
}

.navBar-row2-col1,
.navBar-row2-col2,
.navBar-row2-col3 {
  display: flex;
  flex-direction: row;
}

.navBar-row2-col2,
.sideBar,
.navBarOverlay {
  display: none;
}

.navBar-row2-col1 li,
.navBar-row2-col3 li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

.navBar-areaGiochi {
  height: 24px;
  width: auto;
  display: inline-flex;
  align-items: center;
  background: rgb(171, 217, 255);
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
  padding: 0px 0.625rem;
  font-size: 0.875rem;
  font-weight: medium;
  font-size: 0.75rem;
  line-height: 1;
}
.navBar-areaGiochi:hover {
  background: white;
}
.navBar-areaGiochi .navBar-areaGiochi-svg {
  margin-right: 0.5rem;
  transform: rotate(180deg);
  height: 16px;
  width: 15px;
}

.navBar-account-vip {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  font-weight: medium;
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  line-height: 1;
}
.navBar-account-vip:hover {
  text-decoration: none;
}
.navBar-account-vip svg {
  margin-right: 0.5rem;
}
.navBar-account-vip img {
  width: auto;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.navBar-row1-col3 li:first-child .navBar-account-vip {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 1rem;
}

.navBar-actionLink {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
}
.navBar-actionLink:hover {
  color: black;
  text-decoration: none;
}

.navBar-actionLink-search {
  padding: 0.65rem;
  background-color: white;
  border-radius: 50%;
}

.navBar-hamburgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-right: 0.5rem;
  color: black;
}
.navBar-hamburgerMenu, .navBar-hamburgerMenu:hover {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: medium;
  font-size: 8px;
  text-transform: uppercase;
}
.navBar-hamburgerMenu hr {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 4px;
}
.navBar-hamburgerMenu span {
  margin-top: 8px;
}

@media only screen and (min-width: 1024px) {
  .navBar-row1 {
    flex-direction: row;
    align-items: center;
    height: 3.5rem;
    padding: 0 2rem;
  }
  .navBar-row1-col1,
.navBar-row1-col3 {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
  }
  .navBar-row1-col2 {
    flex-basis: 60%;
    justify-content: center;
  }
  .navBar-row1-col2 li:nth-child(2) {
    padding: 0 3rem;
  }
  .navBar-row1-col3 {
    justify-content: right;
  }
  .navBar-row2 {
    height: 0.5rem0;
    padding: 0 2rem;
    background-color: var(--lego-yellow);
  }
  .navBar-row2 .navBarLogo svg {
    width: 3.5rem;
  }
  .navBar-row2-col1 li:first-child {
    display: none;
  }
  .navBar-row2-col1 {
    z-index: 10;
  }
  .navBar-row2-col2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    z-index: 10;
  }
  .navBar-menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-shrink: 0;
  }
  .navBar-menu .navBar-menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
  }
  .navBar-menu .navBar-menuItem:first-child {
    padding-left: 3.5rem;
  }
  .navBar-menu .navBar-menuItem a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: medium;
    text-transform: uppercase;
  }
  .navBar-menu .navBar-menuItem a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: black;
    display: none;
  }
  .navBar-menu .navBar-menuItem a.active::after {
    display: block;
  }
  .navBar-menu .navBar-menuItem a:hover {
    text-decoration: none;
    color: black;
  }
  .navBar-menu .navBar-menuItem a:hover::after {
    display: block;
  }
  .navBar-menu .navBar-menuItem a.navBarButton {
    background-color: white;
    color: var(--red-500);
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
  .navBar-menu .navBar-menuItem a.navBarButton:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }
  .navBar-menu .navBar-menuItem a.navBarButton:hover::after {
    display: none;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .navBar-subMenu-container {
    display: none;
    flex-direction: row;
    opacity: 0;
    padding: 1rem 0;
    align-self: flex-start;
  }
  .navBar-subMenu-container.active {
    display: flex;
    -webkit-animation: fadeIn 0.66s ease-out forwards;
            animation: fadeIn 0.66s ease-out forwards;
  }
  .navBar-subMenu-container ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
  }
  .navBar-subMenu-container ul.navBar-subMenu-left {
    padding: 0 3rem;
    padding-left: 3.5rem;
  }
  .navBar-subMenu-container ul.navBar-subMenu-right {
    padding: 0 3rem;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
  }
  .navBar-subMenu-container ul.navBar-subMenu-right.subActive {
    display: flex;
    -webkit-animation: fadeIn 0.5s ease-out forwards;
            animation: fadeIn 0.5s ease-out forwards;
  }
  .navBar-subMenu-container ul.navBar-subMenu-right li:first-child {
    text-transform: uppercase;
  }
  .navBar-subMenu-container ul li {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }
  .navBar-subMenu-container ul li:first-child {
    padding-top: 0;
  }
  .navBar-subMenu-container ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    color: black;
    position: relative;
  }
  .navBar-subMenu-container ul li a:hover {
    text-decoration: underline;
    color: var(--lego-blue);
  }
  .navBar-subMenu-container ul li a {
    justify-content: space-between;
  }
  .navBar-subMenu-container ul li a.subActive {
    text-decoration: underline;
    color: black;
  }
  .navBar-subMenu-container ul li a.navBar-subMenu-linkExpand {
    flex-grow: 1;
  }
  .navBar-subMenu-container ul li a span {
    flex-grow: 1;
  }
  .navBar-subMenu-container ul li a svg {
    width: 0.5rem;
    height: auto;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
  }
  .navBar-row2-col3 li {
    padding: 0 1rem;
  }
  .navBar-row2-col3 li:last-child {
    padding-right: 0.5rem;
  }
  .navBar-row2-col3 li:nth-child(2) {
    display: none;
  }
  .sideBar {
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transform: translate3d(0);
    overflow-x: hidden;
    justify-content: right;
  }
  .sideBar a.sideBarClose {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    background-color: white;
    cursor: pointer;
    width: 6rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    transform: translate3d(0);
  }
  .sideBar a.sideBarClose svg {
    color: rgba(0, 0, 0, 0.5);
  }
  .sideBar a.sideBarClose:hover svg {
    color: black;
  }
  .sideBar.active {
    display: flex;
    -webkit-animation: slideIn 0.3s ease-in-out forwards;
            animation: slideIn 0.3s ease-in-out forwards;
  }
  @-webkit-keyframes slideIn {
    0% {
      width: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      width: 784px;
      box-shadow: 0 0 6rem rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes slideIn {
    0% {
      width: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      width: 784px;
      box-shadow: 0 0 6rem rgba(0, 0, 0, 0.5);
    }
  }
  .navBarOverlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translate3d(0);
    cursor: pointer;
  }
  .navBarOverlay.active {
    display: block;
    -webkit-animation: fadeIn 0.3s ease-in-out forwards;
            animation: fadeIn 0.3s ease-in-out forwards;
  }
}
.navBar-email {
  position: relative;
}
.navBar-email .logoutFromNav {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1;
  z-index: 99;
}
.navBar-email .logoutFromNav:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.navBar-email:hover .logoutFromNav {
  display: block;
}/*# sourceMappingURL=navbar.css.map */