.login-page {
  background: rgb(242, 245, 247);
  background: linear-gradient(182deg, rgb(242, 245, 247) 0%, rgb(242, 245, 247) 28%, rgb(225, 232, 236) 28%, rgb(225, 232, 236) 100%);
}
.login-page .mainwrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
}
.login-page .mainwrapper .gridcolumn-1 {
  grid-area: 1/1/2/3;
}
.login-page .mainwrapper .gridmain {
  grid-area: 1/3/2/11;
}
.login-page .mainwrapper .gridcolumn-2 {
  grid-area: 1/11/2/13;
}
@media only screen and (max-width: 500px) {
  .login-page .mainwrapper .gridmain {
    grid-area: 1/2/2/12;
  }
  .login-page .mainwrapper .gridcolumn-1 {
    display: none;
  }
  .login-page .mainwrapper .gridcolumn-2 {
    display: none;
  }
}
.login-page .gridmain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.login-page .top-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.login-page .top-logo .span-empty {
  height: 32px;
  width: 32px;
}
.login-page .top-logo .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page .top-logo .title-wrapper svg {
  height: 32px;
  width: 32px;
}
.login-page .top-logo .title-wrapper h2 {
  font-weight: bold;
  font-size: 24px;
  margin-left: 16px;
}
.login-page .top-logo button {
  height: 32px;
  width: 32px;
  background: transparent;
  padding: 0;
  color: var(--lego-blue);
  cursor: pointer;
}
.login-page .top-logo button:hover {
  color: var(--lego-indigo);
}
.login-page .top-logo button svg {
  height: 32px;
  width: 32px;
}
.login-page main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.login-page main .avatar-wrapper {
  display: flex;
  justify-content: center;
}
.login-page main .avatar-wrapper img {
  height: 78px;
  width: 78px;
  max-width: 300px;
  background-color: white;
  border: 1px solid rgb(225, 232, 236);
  border-radius: 50px;
}
.login-page main form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.login-page main form .email-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 2px solid #c9c9c9;
  border-radius: 4px;
}
.login-page main form .email-wrapper input {
  background-color: white;
  border-radius: 4px;
}
.login-page main form .password-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 2px solid #c9c9c9;
  border-radius: 4px;
}
.login-page main form .password-wrapper input {
  background-color: white;
  border-radius: 4px;
}
.login-page main form .checkbox-wrapper label {
  color: var(--lego-blue);
}
.login-page main form .text-wrapper {
  padding-left: 35px;
  margin-bottom: 26px;
}
.login-page main form .text-wrapper p {
  font-size: small;
  letter-spacing: 0.3px;
  line-height: 1.4;
  color: #707070;
  text-align: center;
}
.login-page main form .button-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0 50px 0;
}
.login-page main form .button-wrapper button {
  height: 60px;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  font-size: 20px;
}/*# sourceMappingURL=login.css.map */