.home {
  display: flex;
  flex-direction: column;
}

.quickLinks {
  margin-top: 4rem;
}

.inEvidenza-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.inEvidenza-container li {
  padding: 0.5rem;
}

@media only screen and (min-width: 426px) {
  .inEvidenza-container {
    flex-direction: row;
    padding: 0;
  }

  .inEvidenza-container li {
    padding: 0;
  }

  .inEvidenza-container li:first-child {
    padding-right: 2rem;
  }
}
